{% extends 'base.html' %}
{% load static %}

{% block section %}
    <h2>{{ object.nombre | capfirst }}</h2>

    <a href="{% url 'editar-categoria' object.id %}">Editar</a>
    <a href="{% url 'eliminar-categoria' object.id %}">Eliminar</a>
    <br><br>
{% endblock %}

{% block maincontent %}
    <div class="row well">
        {%  for f in object.foto_set.all %}
            <div class="col-md-3 well">
                <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{ f.titulo }}</h3>
                        </div>
                        <div class="panel-body">
                            <a href="{% url 'detalle-foto' f.id %}">
                                <img src="{%static f.foto.url %}" style="width:200px;height:200px"/>
                            </a>
                        </div>
                </div>
            </div>
        {% endfor %}
   </div>


{% endblock %}

<!--
 <div style="align-content: center">
    <table border="1px">
        <tr>
            {% for p in object.foto_set.all %}
                <td>
                    <div>{{ p.titulo }}</div>
                    <div>
                        <a href="{% url "detalle-foto" p.id %}">
                            <img src="{% static p.foto.url %}" style="width:250px;height:250px"/>
                        </a>
                    </div>
                </td>

                {% if forloop.counter|divisibleby:"4" %}
                    </tr><tr>
                {% endif %}
            {% endfor %}
        </tr>
    </table>
    </div>
-->